:root {
  --main-color-blue: #507dbc;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  line-height: 3.1875rem;
}

p {
  line-height: 1.5rem;
}
